{% extends 'base.html' %} {% block content %}

{% if error %}
{{ error }}
<br>
<br>
{% endif %}
      <form method = "POST" action = "{%url 'login'%}" class="form-signin">
        {% csrf_token %}
        <img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72" />
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input name="username" type="text"class="form-control"  value="">
      <br>
      Password:
      <br>
      <input name="password" type="password" class="form-control" value="">
      <br>
      <br>       
        <div class="checkbox mb-3">
          <label> <input type="checkbox" value="remember-me" /> Remember me </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit"> Sign in</button>
      </br>
        <p class="mt-5 mb-3 text-muted">&copy; DANKOOKUNIV_LikeLion_HangOut</p>
      </form>
    </body>
    

      {% endblock %}
